body{
    margin-left:140px;
    margin-right:80px; 
    margin-top: 30px;
    margin-bottom:50px;
    background-color:rgb(233, 240, 250) ;
    overflow: hidden;
}
h2{
    justify-items: center;
}
.login{
    position:absolute;
    top:80px;
    width:650px;
    height:600px;
    padding-top: 10px;
    padding-left: 95px;
    background-color:white;
}
h2{
    font-size: 40px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.heading{
position:absolute;
left:600px;
top:0px;
}
.input{
    width:500px;
    height: 40px;

}
h3{
    margin-top:10px;
    margin-bottom: 10px;
}
.input{
    margin-top:20px;
    margin-bottom:20px
}
.video{
    position:absolute;
    left:790px;
    top:80px;
    width:600px;
    height:600px;
    background-color:rgb(86, 178, 236);;
}